@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "YekanBakh700";
    src: url("../_fonts/YekanBakh-Heavy.eot");
    src: url("../_fonts/YekanBakh-Heavy.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/YekanBakh-Heavy.woff") format("woff"),
      url("../_fonts/YekanBakh-Heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: "YekanBakh400";
    src: url("../_fonts/YekanBakh-Regular.eot");
    src: url("../_fonts/YekanBakh-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/YekanBakh-Regular.woff") format("woff"),
      url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  *{
    font-family: "YekanBakh400";
    direction: rtl;
  }


  h1,
h2 {
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  font-family: "YekanBakh700";
}
h3,
h4,
h5,
h6 {
  font-family: "YekanBakh400";
  font-size: 16px;
  line-height: 25.04px;
  text-align: right;
}

a {
  font-family: "YekanBakh400";
  font-size: 14px;
  line-height: 21.91px;
  text-decoration: none;
}


.commentP ::placeholder{

font-family: "YekanBakh400";
font-size: 16px;
line-height: 28px;
color: #5D5D5D;
}

.commentP input , .commentP textarea{
background-color: transparent;
}

.scrollbar-track-y{
left: 0;
right: unset;
}

@keyframes  scrollD {
0%,100%{
  transform: translateY(0);
  opacity: 0;
}
50%{
    transform: translateY(100%);
    opacity: 1;

  }
}

.productCat .section2 .scrollD{
animation: scrollD 2s infinite;
}

.fp-auto-height  .fp-tableCell {
  height: auto !important;
}
.fp-auto-height {
  height: auto !important;
 
}
.fp-watermark{
  display: none;
}

.activeSection img{
  filter: brightness(1)!important;
}


.projectList .projectBox:nth-child(6) ~ .projectBox {
  display: none;
}

.loaded {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  display: none;
}

.galleryPagination .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #888888;
  transition: 0.5s;
}
.galleryPagination .swiper-pagination-bullet-active{
width: 12px;
height: 12px;
background-color: #E33026;
}

.gallerySlider .imgS:hover img{
transform: scale(1.1);
}

.project .relProject .swiper-slide-active img{
transform: scale(1.1);
}
/* .project .relProject .swiper-slide .overTitle .inner{
transform: scale(0.65);
}
.project .relProject .swiper-slide-active .overTitle .inner{
transform: scale(1);
} */

.aboutUs .aboutNav{
top: unset!important;
z-index: 10;
border-top: 1px solid #888888;
border-bottom: 1px solid #888888;
}

.darkNav span{
color: #1C1C1C!important;
}

.activeNav{
  border-top: 2px solid #E33026;
  border-bottom: 2px solid #E33026;
}


 .pause {
     opacity: 1;
   }
  
   .play {
     opacity: 0;
     display: none;
   }


